.idea/
venv/bin/chardetect
venv/bin/dotenv
venv/bin/f2py
venv/bin/f2py3
venv/bin/f2py3.6
venv/bin/flask
venv/bin/google-oauthlib-tool
venv/bin/markdown_py
venv/bin/pyrsa-decrypt
venv/bin/pyrsa-encrypt
venv/bin/pyrsa-keygen
venv/bin/pyrsa-priv2pub
venv/bin/pyrsa-sign
venv/bin/pyrsa-verify
venv/bin/saved_model_cli
venv/bin/tensorboard
venv/bin/tf_upgrade_v2
venv/bin/tflite_convert
venv/bin/toco
venv/bin/toco_from_protos
venv/lib/python3.6/__pycache__/imp.cpython-36.pyc
venv/lib/python3.6/site-packages/Click-7.0.dist-info/
venv/lib/python3.6/site-packages/Flask-1.1.1.dist-info/
venv/lib/python3.6/site-packages/Flask_Cors-3.0.8.dist-info/
venv/lib/python3.6/site-packages/JPype1-0.6.3.dist-info/
venv/lib/python3.6/site-packages/Jinja2-2.10.3.dist-info/
venv/lib/python3.6/site-packages/Keras-2.3.1.dist-info/
venv/lib/python3.6/site-packages/Keras_Applications-1.0.8.dist-info/
venv/lib/python3.6/site-packages/Keras_Preprocessing-1.1.0.dist-info/
venv/lib/python3.6/site-packages/Markdown-3.1.1.dist-info/
venv/lib/python3.6/site-packages/MarkupSafe-1.1.1.dist-info/
venv/lib/python3.6/site-packages/PyYAML-5.1.2.dist-info/
venv/lib/python3.6/site-packages/Werkzeug-0.16.0.dist-info/
venv/lib/python3.6/site-packages/__pycache__/six.cpython-36.pyc
venv/lib/python3.6/site-packages/__pycache__/termcolor.cpython-36.pyc
venv/lib/python3.6/site-packages/_jpype.cpython-36m-x86_64-linux-gnu.so
venv/lib/python3.6/site-packages/absl/
venv/lib/python3.6/site-packages/absl_py-0.8.1.dist-info/
venv/lib/python3.6/site-packages/astor-0.8.0.dist-info/
venv/lib/python3.6/site-packages/astor/
venv/lib/python3.6/site-packages/bson-0.5.8.dist-info/
venv/lib/python3.6/site-packages/bson/
venv/lib/python3.6/site-packages/cachetools-3.1.1.dist-info/
venv/lib/python3.6/site-packages/cachetools/
venv/lib/python3.6/site-packages/certifi-2019.9.11.dist-info/
venv/lib/python3.6/site-packages/certifi/
venv/lib/python3.6/site-packages/chardet-3.0.4.dist-info/
venv/lib/python3.6/site-packages/chardet/
venv/lib/python3.6/site-packages/click/
venv/lib/python3.6/site-packages/dateutil/
venv/lib/python3.6/site-packages/dns/
venv/lib/python3.6/site-packages/dnspython-1.16.0.dist-info/
venv/lib/python3.6/site-packages/docs/
venv/lib/python3.6/site-packages/dotenv/
venv/lib/python3.6/site-packages/flask/
venv/lib/python3.6/site-packages/flask_cors/
venv/lib/python3.6/site-packages/freeze-1.0.10.dist-info/
venv/lib/python3.6/site-packages/freeze/
venv/lib/python3.6/site-packages/gast-0.2.2.dist-info/
venv/lib/python3.6/site-packages/gast/
venv/lib/python3.6/site-packages/google/
venv/lib/python3.6/site-packages/google_auth-1.7.1-py3.6-nspkg.pth
venv/lib/python3.6/site-packages/google_auth-1.7.1.dist-info/
venv/lib/python3.6/site-packages/google_auth_oauthlib-0.4.1.dist-info/
venv/lib/python3.6/site-packages/google_auth_oauthlib/
venv/lib/python3.6/site-packages/google_pasta-0.1.8.dist-info/
venv/lib/python3.6/site-packages/gridfs/
venv/lib/python3.6/site-packages/grpc/
venv/lib/python3.6/site-packages/grpcio-1.25.0.dist-info/
venv/lib/python3.6/site-packages/h5py-2.10.0.dist-info/
venv/lib/python3.6/site-packages/h5py/
venv/lib/python3.6/site-packages/idna-2.8.dist-info/
venv/lib/python3.6/site-packages/idna/
venv/lib/python3.6/site-packages/itsdangerous-1.1.0.dist-info/
venv/lib/python3.6/site-packages/itsdangerous/
venv/lib/python3.6/site-packages/jinja2/
venv/lib/python3.6/site-packages/jpype/
venv/lib/python3.6/site-packages/jpypex/
venv/lib/python3.6/site-packages/keras/
venv/lib/python3.6/site-packages/keras_applications/
venv/lib/python3.6/site-packages/keras_preprocessing/
venv/lib/python3.6/site-packages/konlpy-0.5.1.dist-info/
venv/lib/python3.6/site-packages/konlpy/
venv/lib/python3.6/site-packages/markdown/
venv/lib/python3.6/site-packages/markupsafe/
venv/lib/python3.6/site-packages/nltk-3.4.5.dist-info/
venv/lib/python3.6/site-packages/nltk/
venv/lib/python3.6/site-packages/numpy-1.17.4.dist-info/
venv/lib/python3.6/site-packages/numpy/
venv/lib/python3.6/site-packages/oauthlib-3.1.0.dist-info/
venv/lib/python3.6/site-packages/oauthlib/
venv/lib/python3.6/site-packages/opt_einsum-3.1.0.dist-info/
venv/lib/python3.6/site-packages/opt_einsum/
venv/lib/python3.6/site-packages/pasta/
venv/lib/python3.6/site-packages/protobuf-3.10.0-py3.6-nspkg.pth
venv/lib/python3.6/site-packages/protobuf-3.10.0.dist-info/
venv/lib/python3.6/site-packages/pyasn1-0.4.8.dist-info/
venv/lib/python3.6/site-packages/pyasn1/
venv/lib/python3.6/site-packages/pyasn1_modules-0.2.7.dist-info/
venv/lib/python3.6/site-packages/pyasn1_modules/
venv/lib/python3.6/site-packages/pymongo-3.9.0.dist-info/
venv/lib/python3.6/site-packages/pymongo/
venv/lib/python3.6/site-packages/python_dateutil-2.8.1.dist-info/
venv/lib/python3.6/site-packages/python_dotenv-0.10.3.dist-info/
venv/lib/python3.6/site-packages/requests-2.22.0.dist-info/
venv/lib/python3.6/site-packages/requests/
venv/lib/python3.6/site-packages/requests_oauthlib-1.3.0.dist-info/
venv/lib/python3.6/site-packages/requests_oauthlib/
venv/lib/python3.6/site-packages/rsa-4.0.dist-info/
venv/lib/python3.6/site-packages/rsa/
venv/lib/python3.6/site-packages/scipy-1.3.2.dist-info/
venv/lib/python3.6/site-packages/scipy/
venv/lib/python3.6/site-packages/six-1.13.0.dist-info/
venv/lib/python3.6/site-packages/six.py
venv/lib/python3.6/site-packages/tensorboard-2.0.1.dist-info/
venv/lib/python3.6/site-packages/tensorboard/
venv/lib/python3.6/site-packages/tensorflow-2.0.0.dist-info/
venv/lib/python3.6/site-packages/tensorflow/
venv/lib/python3.6/site-packages/tensorflow_core/
venv/lib/python3.6/site-packages/tensorflow_estimator-2.0.1.dist-info/
venv/lib/python3.6/site-packages/tensorflow_estimator/
venv/lib/python3.6/site-packages/termcolor-1.1.0.dist-info/
venv/lib/python3.6/site-packages/termcolor.py
venv/lib/python3.6/site-packages/test/
venv/lib/python3.6/site-packages/urllib3-1.25.7.dist-info/
venv/lib/python3.6/site-packages/urllib3/
venv/lib/python3.6/site-packages/werkzeug/
venv/lib/python3.6/site-packages/wrapt-1.11.2.dist-info/
venv/lib/python3.6/site-packages/wrapt/
venv/lib/python3.6/site-packages/yaml/
