.idea/
venv/lib/python3.6/
venv/bin/chardetect
venv/bin/dotenv
venv/bin/f2py
venv/bin/f2py3
venv/bin/f2py3.6
venv/bin/flask
venv/bin/google-oauthlib-tool
venv/bin/markdown_py
venv/bin/pyrsa-decrypt
venv/bin/pyrsa-encrypt
venv/bin/pyrsa-keygen
venv/bin/pyrsa-priv2pub
venv/bin/pyrsa-sign
venv/bin/pyrsa-verify
venv/bin/saved_model_cli
venv/bin/tensorboard
venv/bin/tf_upgrade_v2
venv/bin/tflite_convert
venv/bin/toco
venv/bin/toco_from_protos

